main {
  position: relative;
  width: 90vw;
  height: 95vh;
  margin: 2.5vh 5vw;
  background-color: white;
}
h1{
  display: inline-block;
  margin: 0 0;
}
button {
  width: 5vw;
  height: 4vh;
  margin: 1vh 2vw;
  font-size: 1vh;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}
.poem {
  position: relative;
  margin-top: 5vh;
  height: 23vh;
  width: 60%;
  margin-left: 1.5vw;
  float: left;
  border: 1px solid black;
}
.showpoem {
  margin: 25vh 20vw;
  height: 26vh;
  width: 26vw;
  background-color: white;
  position: absolute;
  opacity: 1.0;
  z-index: 99;
}
.freezer {
  height: 35%;
  width: 100%;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.fridge {
  margin-top: 0.5vh;
  height: 70vh;
  width: 100%;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.titlecard {
  float: right;
  margin-top: 2vh;
  margin-right: 1vh;
  height: 20%;
  width: 30%;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
}
p {
  font-family: courier;
  display: inline-block;
  cursor: default;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 1.5vh;
  margin: 6px;
}
.drugged {
  transform: rotate(0deg);
}

.showpoem p {
  font-size: 5vh;
}
