main {
  position: relative;
  width: 90vw;
  height: 95vh;
  margin: 2.5vh 5vw;
  background-color: white;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}
.poem {
  position: relative;
  margin-top: 10%;
  height: 85px;
  width: 60%;
  margin-left: 25px;
  float: left;
}
.showpoem {
  right: 120px;
  font-size: 4vh;
  height: 260px;
  width: 460px;
  margin-left: 40px;
  background-color: white;
  position: absolute;
  opacity: 1.0;
  z-index: 99;
}

.freezer {
  height: 35%;
  width: 100%;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.fridge {
  margin-top: 0.5vh;
  height: 60%;
  width: 100%;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.titlecard {
  float: right;
  margin-top: 2vh;
  margin-right: 2vh;
  height: 60%;
  width: 30%;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
}
p {
  font-family: courier;
  display: inline-block;
  cursor: default;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 2vh;
  margin: 4px;
}
.poem p {
  transform: rotate(0deg);
}
