@font-face {
  font-family: 'air-americana';
  src: url(../fonts/air-americana.ttf);
}
body {
  width: 100vw;
  height: 100vh;
}
main {
  position: relative;
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  background-color: white;
}
h1{
  float: right;
  padding-left: 10px;
  padding-top: 25px;
  display: inline-block;
  font-family: air-americana;
  color: white;
  font-size: 5vh;
  margin: 0 0;
}
p {
  font-family: courier;
  display: inline-block;
  cursor: default;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 2.5vh;
  margin: 6px;
}
button {
  width: 5vw;
  height: 4vh;
  margin: 1vh 2vw;
  font-family: air-americana;
  font-size: 1.5vh;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.overlay {
  position: relative;
  height: 90%;
  width: 100%;
  background-color: #5fc2c8;

}
.poem {
  position: relative;
  margin-top: 5vh;
  height: 20vh;
  width: 60%;
  margin-left: 1.5vw;
  float: left;
  border-radius: 3px;
}
.showpoem {
  position: relative;
  margin: 2.5% 1%;
  height: 65%;
  width: 85%;
  background-color: #5fc2c8;
  opacity: 1.0;
  clear: both;
}
.freezer {
  height: 35%;
  width: 100vw;
  background-color: #5fc2c8;
  border: 1px solid #eeeeee;
  border-radius: 10px 10px 0 0;
}
.fridge {
  margin-top: 0.5vh;
  height: 70%;
  width: 100vw;
  background-color: #5fc2c8;
  border: 1px solid #eeeeee;
  border-radius: 0 0 10px 10px;
}
.buttons {
  position: relative;
  margin: 7px 3px;
  width: 20%;
  height: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlaybuttons {
  position: absolute;
  margin: 7px 3px;
  width: 20%;
  height: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#start {
  position: absolute;
  width: 99%;
  height: 30%;
  background-color: white;
  border: 0;
  margin: 2.5% 0;
  z-index: auto;
}
#reset {
  /*position: relative;*/
  width: 99%;
  height: 30%;
  background-color: white;
  border: 0;
  margin: 2.5% 0;
}
#shuffle {
  /*position: relative;*/
  width: 99%;
  height: 30%;
  background-color: white;
  border: 0;
  margin: 2.5% 0;
}
#submit {
  /*position: absolute;*/
  width: 99%;
  height: 30%;
  background-color: white;
  border: 0;
  margin: 2.5% 0;
  z-index: 1;
}
#return {
  /*position: absolute;*/
  float: right;
  width: 15%;
  height: 10%;
  background-color: white;
  border: 0;
  z-index: auto;
}
#share {
  /*position: relative;*/
  float: right;
  clear: right;
  width: 15%;
  height: 10%;
  background-color: white;
  border: 0;
}

.drugged {
  transform: rotate(0deg);
}

.showpoem p {
  font-size: 3.5vh;
}
#widget {
  position: relative;
  margin-top: 60%;
}
